/********************
UNIVERSAL SETTINGS
********************/

* {
  box-sizing: border-box;
}


/********************
HEADER SECTION SETTINGS
********************/

header {
  text-align: center;
  background-color: #9cf4d0;
}

header h1 {
  color: #404a54;
  font-family: sans-serif;;
  font-weight: 300;
}

header h3 {
  font-family: sans-serif;;
  font-weight: 200;
  padding-bottom: 1em;
  color: white;
}

header h1,
header h3 {
  margin: 0;
  padding-top: 0.5em;
}

/********************
RANDOM H and P SETTINGS
********************/

h3 {
  color: #404a54;
  font-family: sans-serif;;

}

/********************
MAIN SECTION SETTINGS
********************/

main {
  text-align: center;
  background-color: white;
}

.about p {
  color: #171A21;
  font-family: sans-serif;
  font-weight: 500;
  width: 85%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 1em;
}

/********************
PROFILE PICTURE SETTINGS
********************/

.profile_picture {
  padding-top: 2em;
}


/********************
FORM SETTINGS
********************/

legend {
  color: #FDFFFC;
}

fieldset {
  border: none;
  width: 90%;
  margin: 0 auto;
}

label {
  margin-left: -40px;
  padding-right: 0.5em;6699CC
  color: #323232;
  font-size: 0.8em;
}

input {
  width: 75%;
  margin: 0.5em auto;
  padding: 0.5em 0.3em;
}

input:focus {
  outline: none;
}

button {
  font-size: 1em;
  color: rgb(73, 73, 73);
  background-color: rgb(118, 236, 179);
  border: none;
  border-radius: 5px;
  padding: 0.4em 0.6em;
  margin-top: 0.3em;
}

button:hover {
  background-color: rgb(78, 246, 165);
  transition: background, color;
  transition-duration: 1s;
  color: white;
}


/********************
MEDIA QUERIES
********************/

@media (min-width: 600px) {
    header {
      text-align: left;
    }

    header h1 {
      width: 70%;
      margin: 0 auto;
      display: inline-block;
      padding-left: 2em;
    }

    header h3 {
      width: 25%;
      margin: 0 auto;
      display: inline-block;
    }

      input {
        width: 60%;
      }
}

@media (min-width: 980px) {
    header {
    text-align: left;
    }

    header h1 {
    width: 70%;
    margin: 0 auto;
    display: inline-block;
    padding-left: 2em;
    font-size: 2.5em;
    padding-bottom: 0.5em;
    }

    header h3 {
    width: 25%;
    margin: 0 auto;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    font-size: 1.3em;
    }

    main {
      width: 80%;
      margin: 0 auto;
    }

    h3 {
      font-size: 2em;
    }

    label {
      font-size: 1em;
      font-weight: 700;
    }

    input {
      padding: 0.7em 0.3em;
      font-size: 1.7em;
    }

    button {
      font-size: 2em;
    }
}
